@import url('https://fonts.googleapis.com/css2?family=Inter:wght@250&display=swap');
/* cetear la pagina */
* {
    /*  margenes de la pagina pagina */
    margin: 0;
    padding: 0;

    /*  margenes de la pagina pagina */
    box-sizing: border-box;
    /*  fuente pagina */
    font-family: 'Inter', sans-serif;
}

/*  body */
body {
    position: absolute;
    width: 980px;
    left: calc(50% - 980px/2);
    top: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*  logo */

.logo {
    background-color: white;
    /* Tamaño imagen*/
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.15));
}

.menu-principal{
    width: 100%;
    background-color: #fc7323;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.15));;  
    background-color: white;
}

.menu-bar {
    width: 100%;
    height: auto;
    background-color: #FC7323;
    display: flex;    
    justify-content: space-evenly;
    align-items: center;
    font-size: 12px;
}
.menu-bar .enlaces {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.enlaces ul {
    list-style: none;
}
.menu > li{
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.menu > li > a{
    text-decoration: none;
    display: block;
    font-size: 14px;
    padding: 0 auto;
    color: white;
    font-weight: bold;
}
.menu > li:hover .sub-menu {
    opacity: 1;
    visibility: visible;
}
/* Sub Menu */

.sub-menu{
    padding: 0;
    margin: 0 5px 0 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FC7323;
    border-radius: 5px;
    transition:all 0.3s ease-in-out;                
    visibility: hidden;
    opacity: 0;
    z-index: 3;
}

.sub-menu > li {
    width: 180%;
    height: auto;
    background-color: #FC7323;    
    border: 0.1px solid white;
}

.sub-menu > li > a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    display: flex;
    font-size: 12px;
}
.menu-bar .enlaces ul li a {
    color: white;
    text-decoration: none;
    margin: 7px;
    font-weight: bold;
}
.sub-menu > li:hover {                
    background-color: black;
}

.contenido {
    width: 100%;
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: white;
    padding: 15px;
    transition: all 1s;
}

.contenido a {
    text-decoration: none;
}

.contenido li  :hover {
    color: #747272;
}

#hora_actual  {
    display: flex;
    flex-direction: column;
    align-content: center;
    font-weight: bold;
    height: 12px;
    font-size: 12px;
    line-height: 12px;
    margin: 35px 35px 10px ;
}


.titulo {
    height: 25px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 21px;
    line-height: 5px;
    display: flex;
    justify-content:start;
    align-content: flex-start;
    left: 0;
    color: #FC7323;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 35px 35px 10px ;

    transition: all 0.8s;
}

.titulo:hover {
    color: #747272;
}


.imagen  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FC7323;
    font-weight: bold;    
}
.textos {
    width: 100%;
    display: flex;    
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 12px;
    font-weight: 600;
    font-size: 9.8px;    
    background: white;
    margin-top: 15px;
    
}
.img-uno img{
    width: 600px;
    height: 600px;
    left: calc(50% - 600px/2);
    padding: 25px 0px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));
    z-index: 1;
}

.img-dos img{
    width: 630px;
    height: 423px;
    left: calc(50% - 600px/2);
    padding: 15px 0px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));
}

.img-tres img{
    width: 648px;
    height: 342px;
    left: calc(50% - 600px/2);
    padding: 15px 0px;
    border: 1px solid #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.1));
}
.img-left {
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 25px;
}
.contenido-blog {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    

}
.director {    
    height: 28px;

    text-align: center;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
}

.redes {
    width: 100%;            
}
.titulo-redes{
    position: relative;
    text-align: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    background-color:white;    
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    padding: 5px;
    z-index: 4;     
}
.lista_redes {
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 2px;
}
.icon-redes {
    position: relative;
    height: 24px;
    list-style: none;
    z-index: 2;
    margin-left: 15px;    
}
.icon-redes a:hover {
    position: absolute;
    transform: translateY(-32px);
    z-index: -1;
}

.servicios {
    width: 100%;
}

.titulo-servicios {
    text-align: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-top: 3px solid #000;
    border-bottom: 3px solid #000;
    position: relative;
    z-index: 4;
    background-color: white;
}

.lista_servicios {
    display: flex;
    align-content: space-around;
    justify-content: center;
    flex-direction: column;    
    list-style: none;
    background: #FC7323;
}

.lista_servicios li {
    height: auto;
    border-bottom: 1px white solid;

    font-weight: bold;

    justify-items: center;
    align-content: center;
    text-align:justify;
    padding: 13px;
    font-size: 14px;
    transition: all 1.5s;
    
    cursor: pointer;
}
.lista_servicios li a{
    text-decoration: none;
    color: #000;
}

.lista_servicios li:hover{
    text-decoration: none;
    transform: translate(10px);
}

.blog-left {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    top: 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-blog-right {
    width: 100%;
    color: black;
    font-weight: 800;
    font-size: 12px;
    text-align: start;
    margin-bottom: 25px;
}

.texto-servicios {
    height: auto;
}

.lista-servicios li a {
    width: 100%;
    font-size: 13px;
    height: 42px;
    text-decoration: none;
    color: #FC7323;
    font-weight: bold;
}
.lista-servicios {
    width: 100%;
    padding-top: 25px;
    padding-left: 25px;
}
footer{
    padding: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;    
} 
.footer div {
    width: 100%;
    height: auto;    
}

.mesa {
    width: 100%;
    padding: 15px;
    transition: all 1s;
}

.content-mesa :hover {
    color: #747272;
}
.titulo-footer {
    font-size: 12px;
    font-weight: bold;
    color:  #238276;
    padding: 5px;
}


.content-mesa ul li {
    list-style: none;
    text-decoration: none;
}
.content-mesa ul li a{
    display: flex;
    color: #FC7323;
    padding: 0 25px;
    width: 100%;
    font-weight: 800;
    font-size: 12px;
    text-align: start;
    text-decoration: none;
    
}

.ayuda {
    width: 100%;
    height: auto;
    margin: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content-ayuda{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
    background-color: #FC7323;
    color: #FFFFFF;
}

.content-ayuda p {        
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 10px;
    line-height: 17px; 

    padding: 20px;
}

.direcciones {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 30px;
}

.direcciones p {
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
}
.direcciones strong a{
    text-decoration: none;
    color: #FC7323;
}
.direcciones strong a:hover{
    color: #747272;
}